<div class="createTicketForm">
    
    <app-profile-menu></app-profile-menu>
    
    <div class="Image-Container">
        <div class="txt">
            <h1>{{w1}}</h1>
            <h2>{{w2}}</h2>
        </div>
        <img [src]="imagePath" alt="Create Ticket Image" class="ticket-image" />
    </div>

    <form [formGroup]="createTicketForm" (ngSubmit)="onSubmit(createTicketForm)">
        
        <ng-container *ngFor="let input of inputsToTake">
            <app-input-box
            [createTicketForm]="createTicketForm"
            [input]="input">
            </app-input-box>
        </ng-container>

        <button type="submit" [ngStyle]="{'opacity': createTicketForm.invalid ? 0.2 : 1}" [disabled]="createTicketForm.invalid">{{ submitMessage }}</button>

    </form>
</div>