<div id="registerForm">

    <div>
        <img src="assets/auxillary/pattern.jpg" alt="pattern" height="500px" width="500px" />
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">

        <div>
            <label>
                username:
                <br />
                <input formControlName="name">
            </label>
            <div
                *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
                username can contain characters: a-z, A-Z, 0-9 or '_', '-' or '.'
            </div>
        </div>

        <div>
            <label>
                email:
                <br />
                <input formControlName="email">
            </label>
            <div
                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                email can contain characters: a-z, A-Z, 0-9 or '_', '&#64;' or '.'
            </div>
        </div>

        <div>
            <label>
                password:
                <br />
                <input formControlName="password">
            </label>
            <div
                *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                password can contain characters: a-z, A-Z, 0-9, or any in '!&#64;#$%^&*_-.' and minimum length is 8
            </div>
        </div>

        <button type="submit" [ngStyle]="{'opacity': registerForm.invalid ? 0.2 : 1}" [disabled]="registerForm.invalid">signup!</button>
        
        <br />
        <span>already registered?</span>
        <br />
        <a routerLink="/login" class="margin-up">Go to signin</a>

    </form>
</div>