$primary-color: #FFF2F2;
$secondary-color-hard: #2D336B;
$secondary-color-light: #7886C7;
$secondary-color-fade: #A9B5DF;
$primary-font: "Merriweather", serif;
$secondary-font: "Archivo Black", sans-serif;