<!-- dynamic-page.component.html -->
<div class="page-container">
  <app-profile-menu  ></app-profile-menu>

  <h1>{{ title }}</h1>

  <h2>{{ subtitle1 }}</h2>
  <div class="banner-group">
    <app-banner *ngFor="let banner of banners1"
                [routeLink]="banner.routeLink"
                [imagePath]="banner.imagePath"
                [bannerText]="banner.bannerText">
    </app-banner>
  </div>

  <h2>{{ subtitle2 }}</h2>
  <div class="banner-group">
    <app-banner *ngFor="let banner of banners2"
                [routeLink]="banner.routeLink"
                [imagePath]="banner.imagePath"
                [bannerText]="banner.bannerText">
    </app-banner>
  </div>
</div>

