<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

    <div>
        <label>
            username:
            <input formControlName="name">
        </label>
        <div *ngIf="loginForm.get('name')?.invalid && (loginForm.get('name')?.dirty || loginForm.get('name')?.touched)">
            username can contain characters: a-z, A-Z, 0-9 or '_', '-' or '.'
        </div>
    </div>

    <div>
        <label>
            password:
            <input formControlName="password">
        </label>
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            password can contain characters: a-z, A-Z, 0-9, or any in '!&#64;#$%^&*_-.' and minimum length is 8
        </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" >signin!</button>

</form>