<div id="loginForm">

    <div>
        <img src="assets/auxillary/pattern.jpg" alt="pattern" height="500px" width="500px" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

        <div>
            <label>
                username:
                <br />
                <input formControlName="username">
            </label>
            <div
                *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                username can contain characters: a-z, A-Z, 0-9 or '_', '-' or '.'
            </div>
        </div>

        <div>
            <label>
                password:
                <br />
                <input formControlName="password">
            </label>
            <div
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                password can contain characters: a-z, A-Z, 0-9, or any in '!&#64;#$%^&*_-.' and minimum length is 8
            </div>
        </div>

        <button type="submit" [ngStyle]="{'opacity': loginForm.invalid ? 0.2 : 1}" [disabled]="loginForm.invalid">signin</button>
        
        <br />
        <span>not yet registered?</span>
        <br />
        <a routerLink="/register" class="margin-up">Go to signup</a>

    </form>
</div>